<%- include("partials/header", { title }) %>

    <section class="page-banner">
        <h2>
            <%= title %>
        </h2>

        <p>
            These categories help organize service projects by purpose and community impact.
        </p>
    </section>

    <section class="organizations-container">

        <% categories.forEach(category=> { %>

            <div class="organization-card">

                <h3>
                    <%= category.name %>
                </h3>

            </div>

            <% }) %>

    </section>

    <%- include("partials/footer") %>