<%- include('partials/header', { title }) %>

    <main>

        <section class="form-container">

            <h1>
                <%= title %>
            </h1>

            <form action="/new-category" method="POST">

                <div class="form-group">

                    <label for="name">
                        Category Name
                    </label>

                    <input type="text" id="name" name="name" required maxlength="100">

                </div>

                <button type="submit" class="btn-submit">

                    Create Category

                </button>

            </form>

        </section>

    </main>

    <%- include('partials/footer') %>