<footer>

    <p>
        &copy; <%= new Date().getFullYear() %>
            CSE 340 Service Network.
    </p>

    <% if ( typeof NODE_ENV !=="undefined" && NODE_ENV==="development" ) { %>

        <p>
            (Development mode)
        </p>

        <% } %>

</footer>

</body>

</html>